@font-face {
    src: url(../fonts/din-medium.ttf);
    font-family: din_medium;
}

@font-face {
    src: url(../fonts/Montserrat-Bold.ttf);
    font-family: mon_bold;
}

@font-face {
    src: url(../fonts/Montserrat-Regular.ttf);
    font-family: mon_reg;
}

@font-face {
    src: url(../fonts/Arvo-Regular.ttf);
    font-family: avro_reg;
}

@font-face {
    src: url(../fonts/Arvo-Italic.ttf);
    font-family: avro_it;
}

@font-face {
    src: url(../fonts/Arvo-Bold.ttf);
    font-family: avro_bold;
}

@font-face {
    src: url(../fonts/Arvo-BoldItalic.ttf);
    font-family: avro_bold_it;
}