footer {
    background-color: whitesmoke;
    font-family: avro_reg;
    height: 60px;
}

#copyrightContainer {
    float: left;
    font-size: small;
    color: gray;
    padding-top: 18px;
}

#author {
    float: right;
    padding-top: 12px;
}

#author a {
    color: mediumturquoise;
}

#footerLogo, #copyright {
    float: left;
}

#copyright {
    margin-left: 20px;
}
#copyright div:first-child{
    margin-top: -5px;
    margin-bottom: 5px;
}

#createdBy {
    font-size: small;
    color: gray;
    text-align: right;
}