footer {
    background-color: whitesmoke;
    padding: 20px 0 15px 0;
    font-family: avro_reg;
}

#copyrightContainer {
    float: left;
    font-size: small;
    color: gray;
}

#author {
    float: right;
}

#author a {
    color: mediumturquoise;
}

#footerLogo, #copyright {
    float: left;
}

#copyright {
    margin-left: 20px;
}
#copyright div:first-child{
    margin-top: -5px;
    margin-bottom: 5px;
}

#createdBy {
    font-size: small;
    color: gray;
    text-align: right;
}