header{
    height: 80px;
}

#mainLogo{
    height: 80%;
    float: left;
    margin-top: 25px;
}

#topMenu{
    float: right;
    margin-top: 15px;
    font-family: mon_bold;
}

#topMenu > ul > li{
    display: inline-block;
    margin-left: 25px;
    color: gray;
}

#languageSelector{
    font-family: din_medium;
    text-transform: uppercase;
    font-size: medium;
    font-weight: bolder;
}