header {
    height: 80px;
}

#mainLogo {
    height: 80%;
    float: left;
    margin-top: 25px;
    cursor: pointer;
}

#topMenu {
    float: right;
    margin-top: 5px;
    font-family: mon_bold;
}

#topMenu > ul > li {
    display: inline-block;
    color: gray;
    cursor: pointer;
}

#languageSelector {
    font-family: din_medium;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px;
    font-size: smaller;
}

.menuItem{
    padding: 10px;
}

.menuItem:hover{
    background-color: mediumturquoise;
}