
.clear {
    clear: both !important;
    float: none !important;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: avro_reg;
}

#content, footer {
    width: 100%;
}

#content {
    padding: 1px 0;
    background-color: #fafafa;
    padding-bottom: 40px !important;
}

footer {
    background-color: #eeeeee;
}

.container {
    width: 100%;
}

.container > div {
    float: left;
}

.mainContainer, header {
    width: 960px;
    margin: 0 auto;
}

.mainContainer#middle {
    margin-top: 20px;
}

textarea {
    resize: none;
}