#partnersContainer{
    width: 100%;
}

#partnersContainer h3{
    font-family: mon_bold;
    color: gray;
}

#partners{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
}

#partners div:nth-child(2){
    display: flex;
    justify-content: center;
}

.partner{
    width:190px;
    height:90px;
    margin: 0;
    float: left;
    background-position: center;
    background-size: contain;
}

/*.partner img{*/
    /*width: 100%;*/
/*}*/

#orientlogic{
    background: url("../images/partners/orientlogic.png") no-repeat;
}

#orientlogic:hover{
    background: url("../images/partners/orientlogic_red.png") no-repeat;
}
#caucasus{
    background: url("../images/partners/caucasus.png") no-repeat;
}

#caucasus:hover{
    background: url("../images/partners/caucasus_red.png") no-repeat;
}
#magti{
    background: url("../images/partners/magti.png") no-repeat;
}

#magti:hover{
    background: url("../images/partners/magti_red.png") no-repeat;
}
#baracuda{
    background: url("../images/partners/baracuda.png") no-repeat;
}

#baracuda:hover{
    background: url("../images/partners/baracuda_red.png") no-repeat;
}
#qnap{
    background: url("../images/partners/qnap.png") no-repeat;
}

#qnap:hover{
    background: url("../images/partners/qnap_red.png") no-repeat;
}
#mikrotik{
    background: url("../images/partners/mikrotik.png") no-repeat;
}

#mikrotik:hover{
    background: url("../images/partners/mikrotik_red.png") no-repeat;
}
#spam{
    background: url("../images/partners/spam.png") no-repeat;
}

#spam:hover{
    background: url("../images/partners/spam_red.png") no-repeat;
}