#supportPlansContainer {
    width: 600px;
}

#supportPlans {
    display: flex;
    flex-wrap: wrap;
}

#supportPlansContainer h3 {
    font-family: mon_bold;
    color: gray;
}

.supportPlan {
    border: 1px solid lightgray;
    width: 270px !important;
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.supportPlan:nth-child(odd) {
    margin-right: 16px;
}

.supportPlan:hover {
    background-color: mediumturquoise;
    border: 1px solid mediumaquamarine;
}

.supportPlan:hover .text,
.supportPlan:hover .readMoreLink {
    color: white;
}

.supportPlanImage {
    margin-right: 10px;
    width: 60px;
    height: 48px;
    background-size: contain;
    background-position: center;
}

.supportPlanContent {
    width: 250px;
}

.supportPlanContent .text {
    text-transform: uppercase;
    font-family: avro_reg;
    color: gray;
}

.supportPlanContent .readMoreLink {
    padding-top: 12px;
    color: mediumturquoise;
    text-decoration: underline;
    text-transform: capitalize;
    cursor: pointer;
    font-family: avro_reg;
    font-size: smaller;
    display: block;
}

#building {
    background: url("../images/supportPlans/building.png") no-repeat;
}

.supportPlan:hover #building {
    background: url("../images/supportPlans/building_white.png") no-repeat;
}

#people {
    background: url("../images/supportPlans/people.png") no-repeat;
}

.supportPlan:hover #people {
    background: url("../images/supportPlans/people_white.png") no-repeat;
}

#supportIt {
    background: url("../images/supportPlans/it.png") no-repeat;
}

.supportPlan:hover #supportIt {
    background: url("../images/supportPlans/it_white.png") no-repeat;
}

.supportPlan:hover #supportIt2 {
    background: url("../images/supportPlans/it_white.png") no-repeat;
}

#darts {
    background: url("../images/supportPlans/darts.png") no-repeat;
}

#cables{
    background: url("../images/supportPlans/cables.png") no-repeat;
}

.supportPlan:hover #darts {
    background: url("../images/supportPlans/darts_white.png") no-repeat;
}

#projects{
    background: url("../images/supportPlans/project.png") no-repeat;
}

.supportPlan:hover #darts2 {
    background: url("../images/supportPlans/darts_white.png") no-repeat;
}

.supportPlan:hover #projects {
    background: url("../images/supportPlans/project_white.png") no-repeat;
}

.supportPlan:hover #cables {
    background: url("../images/supportPlans/cables_white.png") no-repeat;
}