@import "../main.css";
@import "contact.css";

#onlineHelpContainer{
    border: none;
    margin-top: -10px;
    margin-left: 10px;
}

#areaForStickyFooter{
     height: calc(100vh - 575px); min-height: 10px;
 }

#onlineHelpContainer h3{
    color: mediumaquamarine;
}

#onlineHelpContainer{
    width: 568px;
}

#helpText{
    width: 470px;
}

#onlineHelp p{
    width: 100%;
    line-height: 1.6;
}