
@import "../main.css";

#services.servicesPage{
    border: 1px solid rgba(0,0,0, 0.2);
    padding-left: 15px;
    width: 250px;
}

#serverSupportContainer{
    float: left;
    width: 672px;
    padding-left: 20px;
}

#serverSupport > div{
    padding-top: 10px;
    float: left;
    font-family: Arial;
}

#serverSupportContainer h3{
    color: #34BEC1;
    font-family: mon_bold;
    font-size: medium;
}

#serverSupport > div:first-child{
    width: 40%;
}

#serverSupport > div:nth-child(2){
    width: 59%;
}

#services .servicesPage li {
    color: #949090;
}

#services .servicesPage h3 {
    color: #949090;
    padding-bottom: 8px;
}

.mainContainer #middle {
    margin-top: 10px;
}